body{
    margin: 0;
    overflow-x: hidden;
}

.navContainer{
    display: none;
    display: flex;
    justify-content: center;
    gap: 45vw;
    background-color: #1e2736ea;
    color: white;
    height: 12vh;
    position: fixed;
    width: 100%;
    top: 0;
}

.navItems{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.burgerMenu{
    display: none;
}

.navItems a{
    text-decoration: none;
    color: inherit;
    font-size: large;
    padding: 10px;
}

.navItems a:hover{
    background-color: #666c77;
    border-radius: 2vh;
}

.name{
    display: flex;
    align-items: center;
    font-size: 5vh;
    font-weight: bolder;
    background: linear-gradient(to right, #4180f3, #885fec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.homeContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    background-color: #111828;
    font-family: monospace;
}

.homeContainer h1{
    font-size: 10vh;
    color: white;
}

.homeContainer h2{
    color: #8f95a1;
    font-size: 5vh;
}

.homeContainer p{
    color: #8f95a1;
}

.homeBtns{
    display: flex;
    gap: 1vw;
}

.specName{
    background: linear-gradient(to right, #4180f3, #885fec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.viewBtn{
    height: 8vh;
    width: 10vw;
    font-size: large;
    border-radius: 2vh;
    background-color: #2563ea;
    color: white;
    border: none;
    cursor: pointer;
}

.contactBtn{
    height: 8vh;
    width: 10vw;
    font-size: large;
    border-radius: 2vh;
    background: transparent;
    border: 1px solid #8f95a1;
    color: white;
    cursor: pointer;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202938;
    color: white;
    font-family: monospace;
}

.aboutHead{
    position: relative;
    display: inline-block;
}

.aboutHead::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 60%;
    height: 4px;
    background-color: #2563ea;
    border-radius: 2px;
}

.aboutInfo{
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 5vw;
}

.checks{
    display: flex;
    gap: 30px;
}

.checks div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ppic{
    width: 60vh;
    border-radius: 2vh;
    border: 1px solid gray;
}

.checkmark{
    width: 1vw;
    height: 2vh;
}

.cv{
    width: 10vw;
    height: 7vh;
    border-radius: 2vh;
    background: transparent;
    color: #2563ea;
    border: 1px solid #2563ea;
    cursor: pointer;
    transition: 0.5s ease;
}

.cv:hover{
    color: white;
    background-color: #2563ea;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111828;
    padding-bottom: 20vh;
    color: white;
    font-family: monospace;
}

.skillsContainer h1{
    position: relative;
    display: inline-block;
}

.skillsContainer h1::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 60%;
    height: 4px;
    background-color: #2563ea;
    border-radius: 2px;
}

.skillIcon{
    width: 2.5vw;
    height: 5vh;
}

.data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}

.skills{
    background-color: #202938;
    padding: 5vh;
    width: 20%;
    border-radius: 2vh;
    color: white;
}

.skillTitle{
    display: flex;
    gap: 10px;
    align-items: center;
}

.skillsList{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.skillsList p{
    background-color: #384152;
    padding: 1vh;
    border-radius: 2vh;
    font-size: small;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    background-color: #202938;
    color: white;
    padding-bottom: 10vh;
}

.projectsContainer h1{
    position: relative;
    display: inline-block;
}

.projectsContainer h1::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 60%;
    height: 4px;
    background-color: #2563ea;
    border-radius: 2px;
}

.projectsList{
    display: flex;
    gap: 4vw;
}

.linkIcons{
    width: 4vh;
    height: 4vh;
}

.cardTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card{
    width: 27vw;
    height: 100%;
    background-color: #111828;
    color: white;
    border-radius: 2vh;
}

.linkIconsContainer{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.projImg{
    width: 100%;
    height: 50%;
    border-radius: 2vh;
}

.card p{
    padding: 10px;
}

.projBtn{
    width: 10vw;
    height: 8vh;
    background-color: transparent;
    border-radius: 2vh;
    border: 1px solid #2563ea;
    color: #2563ea;
    cursor: pointer;
}

.projBtn:hover{
    background-color: #2563ea;
    color: white;
}

.contactsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111828;
    color: white;
    font-family: monospace;
    padding-bottom: 10vh;
}

.contactsContainer h1{
    position: relative;
    display: inline-block;
}

.contactsContainer h1::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 60%;
    height: 4px;
    background-color: #2563ea;
    border-radius: 2px;
}

.contactDetails{
    display: flex;
    align-items: center;
    line-height: 1px;
    gap: 0.5vw;
}

.contactLogo{
    width: 5vh;
    height: 5vh;
}

@media(max-width: 600px){
    .homeContainer{
        width: 100%;
    }

    .homeContainer h1{
        font-size: 5vh;
    }

    .homeContainer h2{
        font-size: 3vh;
    }

    .homeContainer p{
        padding: 10px;
        text-align: center;
    }

    .viewBtn{
        width: 35vw;
    }

    .contactBtn{
        width: 35vw;
    }

    .aboutContainer{
        width: 100vw;
    }

    .skillsContainer{
        width: 100vw;
    }

    .projectsContainer{
        width: 100vw;
    }

    .contactsContainer{
        width: 100vw;
    }

    .contactsContainer p{
        padding: 10px;
        text-align: center;
    }

    .aboutInfo{
        flex-direction: column;
        text-align: center;
    }

    .checkmark{
        width: 2vh;
        height: 2vh;
    }

    .cv{
        width: 35vh;
    }

    .skillIcon{
        width: 3vh;
        height: 3vh;
    }

    .skills{
        width: 70%;
        height: 100%;
    }

    .projectsList{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 80%;
    }

    .projBtn{
        width: 35vh;
    }

    .ppic{
        width: 80%;
    }

    .navContainer{
        display: none;
    }

    .burgerMenu{
        display: inline;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1vh;
        width: 70%;
    }

    .burger{
        width: 6vh;
        padding: 10px;
    }

    .burgerItems{
        display: none;
        padding: 10px;
        background-color: #2563eab7;
        border-radius: 2vh;
        flex-direction: column;
        gap: 3vh;
    }

    .burgerItems a{
        text-decoration: none;
        color: white;
        letter-spacing: 1px;
        font-size: 4vh;
        font-family: monospace;
        padding: 10px;
    }
}