.homeContainer{
    padding-top: 5vh;
    text-align: center;
    padding-bottom: 4vh;
    background-color: #111828;
    color: white;
}

.homeContainer .name{
    background: linear-gradient(to right, #00b1dd, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeContainer p{
    color: #8894a4;
}

.homeContainer h2{
    color: #8894a4;
}

.viewBtn{
    border-radius: 2vh;
    padding: 2vh;
    background-color: #2862e9;
    color: white;
    border: 1px solid #2862e9;
    cursor: pointer;
    text-decoration: none;
}

.contactBtn{
    border-radius: 2vh;
    padding: 2vh;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}

@media(min-width: 700px){
    .homeContainer{
        padding-top: 10vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1rem;
    }

    .homeContainer h1{
        font-size: 10vh;
    }

    .homeContainer h2{
        font-size: 5vh;
    }
}