body{
    margin: 0;
}

.menuIcon{
    width: 6vh;
    cursor: pointer;
    display: none;
    position: fixed;
}

.exitIcon{
    width: 6vh;
    cursor: pointer;
    position: fixed;
    display: none;
    right: 0;
    padding: 5px;
    z-index: 1;
}

.navContainer{
    background-color: #1d263583;
    position: fixed;
    padding: 2vh;
    color: white;
    width: 100%;
    top: 0;
}

.navContainer h2{
    font-size: 4vh;
}

.navItems{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    font-weight: bold;
}

@media(max-width: 899px){
    .menuIcon{
        display: inline-block;
    }

    .navContainer{
        display: none;
    }
}

@media(min-width: 900px){
    .navContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
    }

    .navItems{
        flex-direction: row;
        padding: 4vh;
    }

    .navItems a{
        text-decoration: none;
        color: inherit;
    }

    .navItems div{
        cursor: pointer;
        padding: 2vh;
    }

    .navItems div:hover{
        background-color: #2862e9;
        border-radius: 2vh;
    }
}