.projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsContainer h2{
    font-size: 6vh;
    padding: 2vh;
    display: inline-block;
    position: relative;
    text-align: center;
}

.projectsContainer h2::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 7px;
    border-radius: 2vh;
    background: #2863ea;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.projects{
    display: flex;
    gap: 4vw;
    padding: 10vh;
}

.projectCard{
    flex: 1;
    max-width: 40%;
    border-radius: 2vh;
    padding: 3vh;
    background: linear-gradient(
        145deg,
        #dfe5ea,
        #ffffff
    );
    box-shadow:
      -6px -6px 12px #ffffff,
       6px  6px 12px #cfd6dc;
       display: flex;
       flex-direction: column;
       align-items: center;
}

.projectCard:hover{
        box-shadow:
      -2px -2px 5px #ffffff,
       2px  2px 5px #cfd6dc;
}

.projImg{
    width: 20vw;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    filter: brightness(70%);
}

.cardLink{
    width: 4vh;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 2vw;
}

.allBtn{
    width: 10vw;
    height: 7vh;
    font-size: large;
    font-weight: bold;
    background: transparent;
    border: 2px solid #2863ea;
    border-radius: 2vh;
    color: #2863ea;
    cursor: pointer;
    transition: 0.5s;
}

.allBtn:hover{
    background-color: #2863ea;
    color: white;
}

@media (max-width: 600px){
    .projects{
        flex-direction: column;
        align-items: center;
        padding: 2vh;
    }

    .projectCard{
        max-width: 90%;
    }

    .projImg{
        width: 90%;
    }

    .allBtn{
        width: 30vw;
    }
}

@media (min-width: 601px) and (max-width: 1000px){
    .projects{
        flex-direction: column;
        align-items: center;
        padding: 2vh;
    }

    .projectCard{
        max-width: 100%;
    }

    .projImg{
        width: 70%;
    }

    .allBtn{
        width: 30vw;
    }
}