@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@500;700&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #edf1f4;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    background-color: #edf1f4a9;
    position: fixed;
    width: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

.ppic{
    width: 8vh;
    border-radius: 50%;
}

.navItemsContainer{
    display: flex;
    align-items: center;
    gap: 2vw;
    font-weight: bold;
    font-size: large;
}

.navItem{
    cursor: pointer;
    transition: 0.1s;
}

.navItem a{
    color: black;
    text-decoration: none;
}

.navItem a:hover{
    color: white;
}

.navItem:hover{
    background-color: #2863ea;
    padding: 1vh;
    border-radius: 2vh;
    color: white;
}

.navItemsContainer button{
    height: 5vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #2863ea;
    border-radius: 2vh;
    cursor: pointer;
    color: #2863ea;
}

.navItemsContainer a{
    text-decoration: none;
    color: inherit;
}

.homeContainer{
    display: flex;
    align-items: center;
    padding: 2vh;
    justify-content: center;
    gap: 15vw;
    margin-top: 20vh;
}

.socialImg{
    width: 3vh;
    cursor: pointer;
}

.socials{
    display: flex;
    gap: 1vw;
}

.homeFooter{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.homeFooter button{
    height: 5vh;
    background-color: #2863ea;
    border: 1px solid #2863ea;
    border-radius: 2vh;
    cursor: pointer;
    color: white;
}

.details{
    flex: 1;
    max-width: 40%;
}

.details h2{
    color: #2863ea;
    font-size: 6vh;
}

.mainPpic{
    width: 30%;
}

.aboutContainer{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

.aboutContainer h2{
    font-size: 6vh;
    padding: 2vh;
    display: inline-block;
    position: relative;
    text-align: center;
}

.aboutContainer h2::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 7px;
    border-radius: 2vh;
    background: #2863ea;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.aboutDetails{
    display: flex;
    gap: 4vw;
    padding: 10vh;
}

.aboutCard{
    flex: 1;
    max-width: 40%;
    border-radius: 2vh;
    padding: 7vh;
    background: linear-gradient(
        145deg,
        #dfe5ea,
        #ffffff
    );
    box-shadow:
      -6px -6px 12px #ffffff,
       6px  6px 12px #cfd6dc;
}

.aboutCard:hover{
    box-shadow:
      -2px -2px 5px #ffffff,
       2px  2px 5px #cfd6dc;
}

.burgerMenu{
    display: none;
    position: relative;
}

.burgerItems{
    position: absolute;
    top: 100%;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
    background: #2862ea9d;
    padding: 1rem;
    border-radius: 1rem;

    opacity: 0;
    transform: translateY(-10px) scale(.95);
    pointer-events: none;

    transition: opacity .25s ease, transform .25s ease;
}

.burgerItems.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

.burgerItems a{
    text-decoration: none;
    color: white;
}

.burgerItems button{
    border-radius: 2vh;
    background: transparent;
    border: 1px solid white;
    color: white;
}

@media (max-width: 600px){
    .burgerMenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        position: fixed;
        width: auto;
        left: 0;
        right: 0;
        box-sizing: border-box;
        top: 0;
        z-index: 1;
    }

    .menuImg{
        width: 5vh;
    }

    .ppic{
        width: 5vh;
    }

    .navContainer{
        display: none;
    }

    .homeContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details{
        max-width: 90%;
    }

    .mainPpic{
        width: 60%;
    }

    .aboutDetails{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh;
    }

    .aboutCard{
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1000px){
    .mainPpic{
        width: 40%;
    }

    .navContainer{
        width: auto;
        left: 0;
        right: 0;
        box-sizing: border-box;
    }

    .aboutDetails{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3vh;
    }

    .aboutCard{
        max-width: 100%;
    }
}